# precompiled python
*.pyc

# compiled object file
*.o

# roms
*.gbc
*.ips

# rgbds extras
*.map
*.sym

# save game files
*.sgm
*.sav
*.sys
*.sn*

# converted image/palette data
*.1bpp
*.2bpp
*.pal
*.attrmap

# *disasm.py output file
*disasm_output.asm

*.sa1
vbalink.ini

move-rom.sh
